.vscode/**
.vscode-test/**
client/**
server/**
shared/**
tests/**
scripts/**
node_modules/**
out/client/
out/server/
out/shared/
src/**
*.ts
**/*.map
**/*.tsbuildinfo
tsconfig.json
vitest.config.mts
esbuild.mjs
.vscode-test.mjs
.gitignore
package-lock.json
